<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!--    上下文初始化参数，这些信息可以通过 ServletContext 进行获取-->
    <context-param>
        <param-name>pageSize</param-name>
        <param-value>20</param-value>
    </context-param>
    <context-param>
        <param-name>startSize</param-name>
        <param-value>0</param-value>
    </context-param>
    <servlet>
        <!--        一个反应链接内部的响应配置信息-->
        <servlet-name>servlet01</servlet-name>
        <servlet-class>com.servlets.ServletTest01</servlet-class>
        <init-param>
            <param-name>pageSize1</param-name>
            <param-value>200</param-value>
        </init-param>
        <init-param>
            <param-name>startSize1</param-name>
            <param-value>10</param-value>
        </init-param>
    </servlet>


    <servlet-mapping>
        <servlet-name>servlet01</servlet-name>
        <url-pattern>/serv01</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>servlet02</servlet-name>
        <servlet-class>com.servlets.ServletTest02</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servlet02</servlet-name>
        <url-pattern>/serv02</url-pattern>
    </servlet-mapping>
</web-app>
